0<div class="home-bike">
  <%= image_tag "bridge.png" %>
</div>
<div class="bio">
  <div class="jumbotron jumbotron-fluid" style= "background-color: #f2c165; padding: 55px;">
    <div class="container">
      <hr>
      <h3><em> Bike Gallery PDX is a non-profit bike shop located in Northeast Portland. Our mission is to increase public access to affordable and safe bicycles while empowering self-sufficiency in bicycle maintenance and commute. Established 2022. </em></h3>
      <hr>
    </div>
  </div>
</div>
<div class="new_bikes">
  <h2>🔥Fresh off the grill🔥</h2>
  <table>
    <% @bikes.three_most_recent.each_slice(3) do |bikes|%>
      <tr>
        <% bikes.each do |bike| %>
          <td>
            <% if bike.bike_photo.attached? %>
              <%= image_tag bike.bike_photo %>
            <% end %>
            <h3> <%=link_to bike.name, bike_path(bike) %></h3>
            <p> Price: $<%= bike.price %> · <%= bike.make %> · <%= bike.year %>  </p>
          </td>
        <%end%>
      </tr>
    <% end %>
  </table>
</div>

<div class="photoGallery">
  <div class = "container">
    <h3> Whoa! Click below </h3>
    <div class="col d-flex justify-content-center">.  
      <div class="card-text-center" style="width: 50rem", >
          <%= link_to image_tag("gallery.jpeg", alt: "image 4",
                        class: "img-responsive",
                        data: { toggle: "modal", target: "#myModal"}),
                                "#myGallery", data: { slide_to: "3" }%>
      </div>
    </div>
    <h3>to check out our photos!</h3>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <div class="pull-left"><h4>Bike Gallery</h4></div>
              <button type="button" class="close" data-dismiss="modal" title="Close">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
          </div>
    <div class="modal-body">
    <!--CAROUSEL CODE GOES HERE-->
      <div id="myGallery" class="carousel slide" data-interval="false">
        <div class="carousel-inner">

          <div class="item active">
            <%= image_tag("communityvolunteer.jpeg",
                          alt: "Image description here",
                          class: "img-responsive") %>
          </div>
          <div class="item">
            <%= image_tag("group.jpeg",
                          alt: "Image description here", 
                          class: "img-respponsive") %>
            </div>
          <div class="item">
            <%= image_tag("kids.jpg",
                          alt: "Image description here", 
                          class: "img-respponsive") %>
          </div>
          <div class="item">
            <%= image_tag("wheelfix.jpeg",
                          alt: "Image description here", 
                          class: "img-respponsive") %>
          </div>



        </div><!--end carousel-inner-->
          <!-- Previous and Next buttons-->
          <a class="left carousel-control" href="#myGallery" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
            href="#myGallery" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
      </div><!--end myGallery-->
    
    </div><!--end modal-body-->
        <div class="modal-footer">
        <div class="pull-left">
        </div>
          <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
      </div><!--end modal-footer-->
    </div><!--end modal-content-->
  </div><!--end modal-dialoge-->
</div><!--end myModal-->
