<div class="container">
  <h1>Bikes</h1>
  <%# <%= image_tag "product.jpeg" %>

  <p>Only the finest for our customers!</p>

  <% if @bikes.any? %>
      <div class="card card-body">
        <table>
          <% @bikes.each_slice(3) do |bikes|%>
            <tr>
              <% bikes.each do |bike| %>
                <td>
                  <% if bike.bike_photo.attached? %>
                    <%= image_tag bike.bike_photo %>
                  <% end %>
                  <h3> <%=link_to bike.name, bike_path(bike) %></h3>
                  <p> Price: $<%= bike.price %> · <%= bike.make %> · <%= bike.year %>  </p>
                </td>
              <%end%>
            </tr>    
          <% end %>
        </table>
      </div>
    
  <% else %>
    <p>Hold your horses, we're still stocking the store!</p>
  <% end %>
</div>