<h1><%= @pbike.name %></h1>
<p>Price: $<%= @pbike.price %></p>
<p>model: <%= @bike.model%></p>

<% if @bike.reviews.any? %>
  <h4>Reviews for this bike:</h4>

  <% @bike.reviews.each do |review| %>
    <ul>
      <li>
        <%= link_to "#{review.rating} stars, review by #{review.author}", bike_review_path(@bike, review) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No reviews are listed for this bike.</p>
<% end %>
<%# <%if current_user%>
  <p><%= link_to "Add a review", new_product_review_path(@product) %></p>
<%end%>
<%if is_admin?%>
  <p><%= link_to "Edit", edit_product_path(@product) %></p>
  <p><%= link_to "Delete", product_path(@product),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<%end%> %>
<p><%= link_to "Return to products", products_path %></p>