<div class="container">
  <h1>Bike: <%= @bike.name %></h1>
  <h2><%= @review.rating %> out of 5 stars</h2>
  <h3><%= @review.content %></h3>


    <p><%= link_to "Edit review", edit_bike_review_path(@bike, @review), class: "btn btn-default" %></p>
    <p><%= link_to "Delete review", bike_review_path(@bike, @review),  class: "btn btn-danger",
                            :data => {:confirm => "Are you sure you want to delete #{@bike.name} review?",
                                          :method => "delete"} %></p>


  <p><%= link_to "Return to bike", bike_path(@bike), class: "btn btn-default" %></p>
</div>