<div class="container">
  <%= render "layouts/errors", :object=> @bike %>

  <%= form_for @bike do |f| %>
  <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <%= f.text_field :price, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :make %>
      <%= f.text_field :make, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :model %>
      <%= f.text_field :model, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :category %>
      <%= f.text_field :category, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :size %>
      <%= f.text_field :size, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :year %>
      <%= f.text_field :year, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :color %>
      <%= f.text_field :color, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :status %>
      <%= f.text_field :status, class: "form-control" %>
    </div>
  <div class="actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
