<header>
  <div id="nav-buttons">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="navbar-header">
            <% if is_admin? %>
              <%= link_to "Admin", rails_admin_path, class: "btn btn-dark" %>
            <% end %>
            <% if user_signed_in? %>
              <%= link_to "Logout", destroy_user_session_path, class: "btn btn-dark", method: :delete %>
              <%= link_to "Profile", user_path(current_user), class: "btn btn-dark"%>
            <% else %>
              <%= link_to "Login", new_user_session_path, class: "btn btn-dark"%>
              <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-dark" %>
            <% end %>
            <%= link_to "Home", root_path, class: "btn btn-dark" %>
            <%= link_to "All Bikes", bikes_path, class: "btn btn-dark" %>
            <% if is_admin? %>
              <%= link_to "New Bike", new_bike_path, class: "btn btn-dark" %>
            <% end %>
          </div>
        </div>
      </nav>
    </div>
  </header>
